.chat {
  text-align: left;
}

.chat-user {
  color: darkblue;
  font-weight: bold;
}

.chat-timestamp {
  font-weight: lighter;
  font-style: italic;
}

.chat-message {
  font-weight: bold;
}

.mychat {
  background-color: lightgray;
}

.btn-emoji {
  background: url(/assets/emoji.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-color: #eee;
  background-size: 24px;
}


/*Use ::ng-deep until https://github.com/lbertenasco/ng-emoji-picker/issues/12 is fixed */

::ng-deep .emoji-input input {
  display: none;
}